
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&family=Permanent+Marker&display=swap');

.centrado{
    margin: auto;
    padding: 18rem 0;
    text-align: center;
}

#reloj{
text-align: center;
padding: 0;
margin: 0;
font-family: 'Nova Square', cursive;
color: black;
font-weight: 500px;

}

#calendario{
    text-align: center;
padding: 0;
margin: 0;
font-family: 'Nova Square', cursive;
font-weight: 400px;

}