.seconds {
    position: absolute;
    height: 110px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 110px;
    top: 0px;
    margin: auto;
    background: #FF4136;
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
}

.minutes {
    position: absolute;
    height: 105px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 105px;
    top: 0px;
    margin: auto;
    background: white;
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
}

.hours {
    position: absolute;
    height: 85px;
    width: 5px;
    left: 0;
    right: 0;
    bottom: 85px;
    top: 0px;
    margin: auto;
    background: whitesmoke;
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
}

#img-reloj {
    position: static;
    box-shadow:
        -1px -1px 10px #daeaf8,
        3px 3px 10px #88939c,
        6px 6px 10px #35393f;
    border-radius: 38px;
    background-color: #2196f3;
    padding: 0;
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height:200px; width:200px;
}
#resultado{
    margin: 0 auto;
    padding: 10;
}
#reloj-content {
    margin: 0 auto;
    padding: 0;
    height:210px; width:210px;
}
#reloj-body {
    margin: 0 auto;
    padding: 0;
    height:200px; width:200px;
}
#container-reloj {
    width: 220px;
    text-align: center;
    margin: 0 auto;
}

/* RESPONSIVE CSS-------------------------------------------------- */
 @media (width< 420px) {
    #container-reloj {
        width: 310px;
    }
    #img-reloj {
      height:180px; width:180px;
    }
  
    #reloj-content {
        height:290px; width:290px;
    }
    #reloj-body {
        height:280px; width:280px;
    }
    .seconds {
        height: 85px;
        width: 2px;
        bottom: 85px;
    }
    
    .minutes {
        height: 83px;
        width: 2px;
        bottom: 83px;
    }
    
    .hours {
        height: 68px;
        width: 5px;
        bottom: 68px;
    }
}
@media (min-width: 420px) {
    #container-reloj {
        width: 310px;
    }
    #img-reloj {
      height:220px; width:220px;
    }
  
    #reloj-content {
        height:310px; width:310px;
    }
    #reloj-body {
        height:300px; width:300px;
    }
    .seconds {
        height: 96px;
        width: 2px;
        bottom: 95px;
    }
    
    .minutes {
        height: 96px;
        width: 2px;
        bottom: 95px;
    }
    
    .hours {
        height: 90px;
        width: 5px;
        bottom: 90px;
    }
  }
  
  @media (min-width: 550px) {
    #container-reloj {
        max-width: 520px;
    }
    #img-reloj {
      height:400px; width:400px;
    }
    #reloj-content {
        height:520px; width:520px;
    }
    #reloj-body {
        height:510px; width:510px;
    }
    .seconds {
        height: 180px;
        width: 2px;
        bottom: 180px;
    }
    
    .minutes {
        height: 175px;
        width: 2px;
        bottom: 175px;
    }
    
    .hours {
        height: 150px;
        width: 5px;
        bottom: 150px;
    }
  }