#resultado{
    width: 30%;
    height: 160px;
    background-color: #2196f3;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 18px;
  


}
.sombra{
    box-shadow: 
    -1px -1px 10px #daeaf8,
    3px 3px 10px #88939c,
    6px 5px 10px #35393f
    ;
}
