button {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: #fff;
    background-color: #7f8c8d;
    padding: 7px 20px;
    border-radius: 80px;
    margin: 10px 5px;
    transition: all 0.2s ease-in-out;

}

.azul {
    background-color: #3498db;
    box-shadow: 0px 5px 0px #2980b9;
}

.rojo {
    background-color: #e74c3a;
    box-shadow: 0px 5px 0px #c0392b;
}

/* seguimiento de bootstrap, cambio de color en acerco, hover y otro cuando ejecutado active*/

.azul:active {
    box-shadow: #0f2a3b;
}

.azul:hover {
    background-color: #2980b9;
}

.rojo:active {
    box-shadow: #e74c3a;
}

.rojo:hover {
    background-color: #c0392b;
}