<!-- Configuraciones iniciales de Angular -->
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span class="display-6">Las Directivas en Angular</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <!--  <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-linkedin"
      viewBox="0 0 16 16">
      <path
        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
    </svg>
  </a>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <!--  <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
    </svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-github"
      viewBox="0 0 16 16">
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
    </svg>
  </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
      viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill=" #d70707cf" />
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33"
            d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
            transform="translate(0.371 3.363)" fill="#fff" />
          <path id="Path_34" data-name="Path 34"
            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)" fill="#fff" />
        </g>
      </g>
    </svg>

    <span>{{ title }} Directivas🚀</span>

    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>

  </div>

</div>
<!-- 
        /---------------LAS DIRECTIVAS---------------\
Surgen como nuevas directivas apoyadas en typeScript, presentan mayor
elegancia y eficacia al hora de manipular informacion con diversas
variables en el entorno de Template(doctype)

Contamos con 3 tipos de directivas:
i)Componentes:
  Directivas que siempre tienen asignados una respuesta en el html
ii)Estructurales:
  Genera modificaciones en el html y ayuda a manipular determinados
  elementos de estructura
iii)Atributo:
  Directivas dirigidas a establecer condiciones y comportamientos que iran
  definidos desde el html

-->
<!-- 
  1º directiva *ngfor

  Una de las directivas más representativa de las estructurales que nos va a permitir
  realizar iteraciones sobre/desde un codigo html. Tomará valores de la iteracion aquellaa
  que son pertenecientes a una coleccion de dator, variables..., apuntando allí dónde
  aplicamos la directiva.

  Conclusiones:
  Mimetiza la expresion for, la propia condicion de dicha iteracion la marcará la
  propia coleccion. En definitiva la propia expresion de dicha iteracion sera una llamara
  y generará elemento de comparacion
 
 <script>
  for (const iterator of object) {
    
  }
 </script>
 -->
<div class="container" style="text-align: center;">
  <h2>Directivas *ngFor (Recorrido de todos los elementos)</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let paqui of alumnos;index as i">
      {{i+1}} {{paqui.nombre}} {{paqui.apellido}} {{paqui.nota}} ✔
    </li>
  </ul>
  <hr>
  <!-- 
  2ºdirectiva *ngIF
 -->
  <h2>Directivas *ngIF(Condiciones)</h2>
  <ul class="list-group">
    <ng-container *ngFor="let a of alumnos;index as i">
      <li class="list-group-item" *ngIf="!a.repetidor">
        alumno {{i+1}}: {{a.nombre}} {{a.apellido}} {{a.nota}} ✔
      </li>
    </ng-container>
  </ul>
  <!-- Ejercicio: -->
  <h3>Ejercicios:</h3>
  <!--
  a) Mostrar en una tabla todos los alumnos
  -->
  <h5>Listado de alumnos</h5>
  <table class="table table-bordered border-secondary table-sm">
    <caption>Lista de alumnos</caption>
    <thead class="table-light">
      <tr>
        <th scope="col">Nº</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let p of alumnos;index as i">
        <th scope="col">{{i+1}} </th>
        <td>{{p.nombre}} </td>
        <td>{{p.apellido}}</td>
        <td>{{p.nota}}</td>
      </tr>
    </tbody>
  </table>
  <!-- 
  b) Mostrar sólo aprobados
-->
  <h5>Aprobados</h5>
  <table class="table table-bordered border-secondary table-sm">
    <caption>Lista de aprobados</caption>
    <thead class="table-light">
      <tr>
        <th scope="col">Nº</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-container *ngFor="let t of alumnos;index as i">
        <tr *ngIf="t.nota >= 5">
          <th scope="col">{{i+1}} </th>
          <td>{{t.nombre}}</td>
          <td>{{t.apellido}}</td>
          <td>{{t.nota}}✔</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <!-- 
 c) Mostrar repetidores suspensos 
-->
  <ul class="list-group">
    <h5>Repetidores suspensos</h5>
    <ng-container *ngFor="let a of alumnos;index as i">
      <li class="list-group-item" *ngIf="a.repetidor && a.nota < 5">
        Nº {{i+1}}: {{a.nombre}} {{a.apellido}}, nota: {{a.nota}}❌
      </li>
    </ng-container>
  </ul>
  <hr>
  <!-- 
      3º Directivas [ngStyle]

      Es una de las directivas de atributos principales.
      PArte de las estructuras de aplicacion de estilos, tal y como
      referencia html.
      Sintaxis, dividida en:
        a)[] Busqueda de recorrido y enlace, generando cambios no en su naturaleza
        pero si en aspecto, percepcion, entorno
        b)="{elemento/atributo:valor}"
        [ngStyle]="atributos:valor"
        ?
   -->
  <h2>Directiva [ngStyle] (Definir estilos desde condiciones)</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let x of alumnos;index as i"
      [ngStyle]="{color:x.nota >= 5 ? '#008800' : 'rgb(255,0,0)'}">
      alumno {{i+1}}: {{x.nombre}} {{x.apellido}}, nota global: {{x.nota}} ✔
    </li>
  </ol>
  <!-- 
    Operador de condición (Ternario-elvis-)

      → expresion ?
      → Estructura, sentencia que evalua como true o false (atajo de if else)
      → Sintaxis

        Sentencia condicion   ?  expresion1 : expresion2
      Resuelve la condicion si es true, expresion1 y si fuera falso expresion2
   -->
  <!-- 
        4º Directiva [ngClass]

        Otra directiva dentro de atributo
        Utiliza principalmente clases definidas(css,sass,less,..)
        Sintaxis:
        [ngClass]="{elemento/atributo:valor}"

 -->
  <h2>Directivas [ngClass] (Definimos estilos desde condiciones</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let x of alumnos;index as i" [ngClass]="{verde:x.nota >= 5, rojo:x.nota <5}">
      alumno: {{x.nombre}} {{x.apellido}}, nota global: {{x.nota}} ✔
    </li>
  </ol>
  <hr>
  <!-- ejercicio:
Realizar un estilo (ngClass) y condiciones (?) mostrar sobresalientes en rojo
 -->
  <h2>Sobresalientes en rojo (ngClass) con condiciones (?)</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let x of alumnos;index as i"
    [ngClass]="x.nota >= 9 ? 'rojo' : 'verde' ">
      alumno: {{x.nombre}} {{x.apellido}}, nota global: {{x.nota}}</li>
  </ol><hr>
  <label for="">Ejercicio Operador anidado:</label>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let b of alumnos"
      [ngClass]="b.nota >= 9 ? 'violeta' : (b.nota < 5 ? 'rojo' : 'verde')">
      {{b.nombre}} {{b.apellido}} {{b.nota}} ✔
    </li>
  </ol>
  <label for="">Ejercicio Style + anidacion + operador</label>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let b of alumnos"
      [ngStyle]="{background:b.nota >= 9 ? '#888' : (b.nota < 5 ? 'rgb(255,0,0)' : '#458845')}">
      {{b.nombre}} {{b.apellido}} {{b.nota}} ✔
    </li>
  </ol>
  <hr>
  <!-- 
    5º [ngSwith]
    Especificará una condición (switch case asociado)
    Sintaxis en dos partes:
        Sintaxis, dividida en:
        a)[] Busqueda de recorrido y enlace, generando cambios no en su naturaleza
        pero si en aspecto, percepcion, selección y entorno
        b)="condición/valor variable"
        [ngSwitch]="condicion/valor variable"
        *ngSwitchCase="{elemento:valor}"
   -->
   
   <h2>Directiva [ngSwitch] y ngSwitchCase</h2>
   <ol class="list-group-numbered">
     <li class="list-group-item" *ngFor="let v of alumnos" [ngSwitch]="v.valoracion">
      <div *ngSwitchCase="'alta'" [ngClass]="'violeta'">{{v.nombre}} {{v.apellido}} {{v.nota}}</div> 
      <div *ngSwitchCase="'media'" [ngStyle]="{backgroundColor:'rgb(69, 244, 69)'}">{{v.nombre}} {{v.apellido}} {{v.nota}}</div> 
      <div *ngSwitchCase="'baja'" [ngStyle]="{backgroundColor:'#888'}">{{v.nombre}} {{v.apellido}} {{v.nota}}</div>
     </li>
   </ol>
   <hr>
</div>