/*
Concepto:
    Hemos de tomar como referencia un concepto vital para la comunión y conexion
    entre css y js. Enlace de union que ofrece el id
    Es id, tanto en css, js asi como en html, es un localizador de estructura y/o dinamicas sino tambien 
    de posicion
Conclusion: esta en el propio ejemplo, como utilizo el id en css, siendo el mismo que en js
# este caracter será el indicador que referencia al id
*/
#resultado{
    width: 22rem;
    background-color: black;
    font-size: 90px;
    color: green;
    border-radius: 8px;
    box-shadow: 2px 4px 6px gray;
}