
/*
Las clases que entiende sweetAlert para su configuracion
efectos:
1.fondo
2.ventana
3.footer
4....
*/
.swal-overlay {
    background-color: rgba(10, 10, 10, 0.45);
  }
  .swal-modal{
    border:2px solid black;
  }
  .swal-footer{
    background-color: brown;
    margin-top: 32px;
    border-top: 2px solid black;
    opacity: 0.4;
  }