.centrado {
    text-align: center;
    margin: 0 auto;
    padding: 20rem 0;
}

#reloj {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Heebo', cursive;
    color: black;
    font-weight: 100px;
}

#hoy {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Heebo', cursive;
    color: black;
    font-weight: 400px;
}
/*
Acotador de visualizacion
*/
@media (max-width: 900px){/*Acota el límite de visualización*/
    #reloj{
        font-size: 36px;
    }
    #hoy{
        font-size: 1rem;
    }
}
@media(min-width: 900px){/*Límite para la visualización*/
    #reloj{
        font-size: 8rem;
    }
    #hoy{
        font-size: 2rem;
    }
}