/*
Efectos básocos del sweetalert
a.fondo [overlay]
b.ventana [modal]
c.footer [footer]
*/

.swal-overlay{
    background-color: gray;
}
.swal-modal{
    border: 2px solid green;
    box-shadow: 2px 2px 3px grey;
}
.swal-footer{
    background-color: violet;
    margin: 0 auto;
    border-top: 2px solid green;
}
/*a la etiqueta(sin punto)*/
h3{
    text-align: center;
    color: coral;
    text-shadow: 2px 2px 3px grey;
    font-size: larger;
}